@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins,sans-serif';
}
body{
 overflow:hidden;
 box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5); 
 background-color:black;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding-bottom:150px;
    background:transparent;
    display:flex;
    justify-content:right;
    align-items:center;
    z-index:100;

}
.navbar {
    display: flex; /* Use flexbox for layout */
    
    justify-content: center; /* Center the navbar items */
}

.div-header{
    display: flex; /* Use flexbox for the header links */
    gap: 50px;
    padding-top:140px;
    padding-right:150px;
    
}
.navbar a{
font-size:65px;
color:white;
text-decoration:none;
font-weight:500;
margin-left:30px;
transition:.2s;

border-radius:3px;
}
.navbar a:hover,
.navbar a.active{
    color:rgba(121, 121, 10, 0.897);
}
.home{
    height:180vh;
   display:block;
   margin-right:35px;
   padding:0 40%;
   padding:30% 0;
  
    
}


.home-content{

  margin-left:200px;
  

}
.home-content h1{
    font-size:80px;
    font-weight:700;
    color:rgba(255, 255, 0, 0.521);
}
.home-content p{
    font-size:75px;
    font-weight:700;
    color:rgba(255, 255, 0, 0.521);
}

.image-container{
text-align:center;

}
/*.esseni{
  display:block;
   max-width:80%;
   height:auto;
   margin:auto;
   
  
}*/
.esseni{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
   width:1700px;
    object-fit:cover;

}


.home-imgHover{
    display:block;
    position:absolute;
    top:0;
    right:1650px;
    width:1300px;
    height:100%;
background:transparent;

transition:3s;


}
